div {
    h1 {
        font-family: Inter;
        font-size: 32px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0em;
        color: #2C384A;
    }

    .deals-container {
        display: flex;
        justify-content: space-between;
        .deal-box {
            width: 333px;
            height: 425px;
            background-color: #FFFFFF;
            border-radius: 12px;
            padding: 1vw;

            .dealImg {
                width: 100%;
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .deal_details {
                p {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    color: #626E79;
                    text-align: left;

                }

                .rate {
                    display: flex;
                    align-items: baseline;
                    gap: 1vw;
                    margin-top: 1vw;

                    .afterDiscount {
                        font-family: Inter;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #5C6874;

                    }

                    .beforeDiscount {
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        color:
                            #9FA9B3;

                        span {
                            color: #EF4C5D;
                        }

                    }
                }
                .button{
                    button{
                        width: 292px;
height: 48px;
border-radius: 12px;
background-color: 
#1B88F4;
border: none;
cursor: pointer;
color: white;
margin-top: 1vw;

                    }
                }
            }

            .discount {
                display: flex;
                gap: 0.5vw;
                margin: 1vw 0;

                div {
                    width: max-content;
                    height: 28px;
                    top: 2005px;
                    left: 320px;
                    border-radius: 8px;
                    background-color: #F2F4F7;
                    font-family: Inter;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    color: #074786;
                    display: flex;
                    align-items: center;
                    padding: 5px;


                }
            }

            p {
                font-family: Inter;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                color: #626E79;
                text-align: center;
            }
        }
    }
}

// / *****************************************************Responsive code start****************************************************
        
@media screen and (max-width:426px) {
    div{
        .deals-container{
            flex-direction: column;
            gap: 5vw;
            align-items: center;
            margin: 5vw 0;
            .deal-box{
                padding: 2vw;
                .deal_details{
                    p{
                        margin: 3vw 0;
                    }
                    .rate{
                        margin: 3vw 0;
                    }
                    .button{
                        display: flex;
                        justify-content: center;
                    }
                }
                .discount{
                    margin: 4vw 0;
                }
            }
        }
    }
}


// / *****************************************************Responsive code start****************************************************